body{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.appContainer{
  background-color: rgb(255, 255, 255);
  border: 1px solid black ;
  border-radius: 5px;
  width: 30%;
  position: relative;
  margin: 50px auto;
  padding: 10px; 
  box-shadow: 0px 0px 7px 1px #000000;
  
} 



.defaultElements{
  text-align: center;
  padding: 10px;
  background-color:#FF9671;
  box-shadow: 0px 0px 7px 1px #000000;
  border-radius: 5px;
  border: 1px solid black ;
}

#taskContainer{
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  height: auto;
  margin-top: 20px;

}

.taskElement{
  padding: 20px;
  margin: 20px auto;
  background-image: #FF6F91;
  background-color: #FF6F91;
  box-shadow: 0px 0px 7px 1px #000000;
  border-radius: 5px;
  border: 1px solid black ;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.taskDetail{
  width: 65%;
  display: inline-block;  
  height: auto; 
  padding: 10px;
  border: 1px dashed black;
  
  border-radius: 10px;
  word-wrap: break-word;
  
}

.toggle{
  padding: 10px;
  margin-right: 5px;
  float: left;
}

#taskButtons{
  pointer-events: auto;
  cursor: pointer;
  border: 2px solid black ;
  border-radius: 5px;
  background-color: #12EBA9;
  margin: auto 10px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  height: 40px;
  margin-top: 5px;
}

#taskText{
  border: 2px solid black ;
  border-radius: 5px;
  background-color:#92ebd0;
  margin: auto 10px;
  height: 25px;
  width: 70%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#addButton{
  pointer-events: auto;
  cursor: pointer;
  border: 2px solid black ;
  border-radius: 5px;
  background-color: #12EBA9;
  margin: auto 10px;
  height: 30px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


@media (max-width : 1200px) {

  #taskButtons{
    margin-top: 5px;
  }
  
  #addButton{
    margin-top: 5px;
}
}

@media (max-width : 1000px) {
  .appContainer {
    width: 80%;
  }

  #taskButtons{
    margin-top: 5px;
  }
  
  #addButton{
    margin-top: 5px;
}
}